<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sourceforge.vrapper.eclipse.pssp" name="Platform Specific State Provider" schema="schema/net.sourceforge.vrapper.eclipse.pssp.exsd"/>
   <extension-point id="net.sourceforge.vrapper.eclipse.extractor" name="Text Editor Extractor" schema="schema/net.sourceforge.vrapper.eclipse.extractor.exsd"/>
   <extension-point id="net.sourceforge.vrapper.eclipse.psmp" name="Platform Specific Mode Provider" schema="schema/net.sourceforge.vrapper.eclipse.psmp.exsd"/>
   <extension-point id="net.sourceforge.vrapper.eclipse.pstop" name="Platform Specific TextObject provider" schema="schema/net.sourceforge.vrapper.eclipse.pstop.exsd"/>
   <extension-point id="net.sourceforge.vrapper.eclipse.lifecyclelistener" name="Vrapper Lifecycle Listener" schema="schema/net.sourceforge.vrapper.eclipse.lifecyclelistener.exsd"/>
   <extension
       point="org.eclipse.ui.commands">
    <category
          description="Commands for Vrapper"
          id="net.sourceforge.vrapper.eclipse.commands"
          name="Vrapper">
    </category>
    <command
          categoryId="net.sourceforge.vrapper.eclipse.commands"
          defaultHandler="net.sourceforge.vrapper.eclipse.actions.VrapperToggleHandler"
          description="Toggles Vrapper"
          id="net.sourceforge.vrapper.eclipse.commands.toggle"
          name="Toggle Vrapper"/>

    <command
          categoryId="net.sourceforge.vrapper.eclipse.commands"
          defaultHandler="net.sourceforge.vrapper.eclipse.actions.ActivateEditorAndTypeHandler"
          description="Activates the editor, focuses it and sends the bound key to it (handler is active also if Vrapper is disabled)"
          id="net.sourceforge.vrapper.eclipse.commands.activateEditorAndType"
          name="Activate Editor and Type"/>

   </extension>


    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="net.sourceforge.vrapper.eclipse.commands.toggle"
               icon="icons/icon.png"
               mnemonic="%contributions.view.count.mnemonic"
               style="toggle">
         </command>
      </menuContribution>
       <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sourceforge.vrapper.Vrapper">
            <command
                  commandId="net.sourceforge.vrapper.eclipse.commands.toggle"
                  icon="icons/icon.png"
                  style="toggle">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>

    </extension>
    <extension point="org.eclipse.ui.startup">
		<startup class="net.sourceforge.vrapper.eclipse.activator.VrapperStartup"/>
	</extension>


   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="ESC CTRL+C"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            commandId=""
            schemeId="kg.totality.core.insert_mode"/>
      <key
            sequence="ESC CTRL+F"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            commandId=""
            schemeId="kg.totality.core.insert_mode"/>
	  <scheme
          description="Vim&apos;s insert mode emulation"
          id="kg.totality.core.insert_mode"
          name="Vim&apos;s key bindings"
          parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
     </extension>
   <extension
         point="net.sourceforge.vrapper.eclipse.pssp">
      <keymap-provider
            id="net.sourceforge.vrapper.eclipse.EclipseSpecificStateProvider"
            name="AbstractTextEditor-specific Provider"
            priority="0"
            provider-class="net.sourceforge.vrapper.eclipse.keymap.EclipseSpecificStateProvider">
      </keymap-provider>
   </extension>
   <extension
         point="org.eclipse.core.resources.markers"
         id="net.sourceforge.vrapper.eclipse.searchhighlight">
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.vrapper.eclipse.searchhighlight"
            label="Vrapper Search"
            textPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.searchhl.showtext"
            textPreferenceValue="true"
            highlightPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.searchhl.highlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.searchhl.showoverviewruler"
            overviewRulerPreferenceValue="false"
            verticalRulerPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.searchhl.showverticalruler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.searchhl.color"
            colorPreferenceValue="240,216,168"
            presentationLayer="4"
            textStylePreferenceKey="net.sourceforge.vrapper.eclipse.annotation.searchhl.textstyle"
            textStylePreferenceValue="NONE">
      </specification>
      <specification
            annotationType="net.sourceforge.vrapper.eclipse.incsearchhighlight"
            label="Vrapper Incremental Search"
            textPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.incsearchhl.showtext"
            textPreferenceValue="true"
            highlightPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.incsearchhl.highlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.incsearchhl.showoverviewruler"
            overviewRulerPreferenceValue="false"
            verticalRulerPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.incsearchhl.showverticalruler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.incsearchhl.color"
            colorPreferenceValue="244,251,0"
            presentationLayer="5"
            textStylePreferenceKey="net.sourceforge.vrapper.eclipse.annotation.incsearchhl.textstyle"
            textStylePreferenceValue="NONE">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="net.sourceforge.vrapper.eclipse.searchhighlight"
            name="net.sourceforge.vrapper.eclipse.searchhighlight">
      </type>
      <type
            markerSeverity="0"
            markerType="net.sourceforge.vrapper.eclipse.searchhighlight"
            name="net.sourceforge.vrapper.eclipse.incsearchhighlight">
      </type>

   </extension>
   <extension
         point="net.sourceforge.vrapper.eclipse.psmp">
      <mode-provider
            id="net.sourceforge.vrapper.eclipse.mode-provider1"
            name="net.sourceforge.vrapper.eclipse.mode-provider1"
            provider-class="net.sourceforge.vrapper.eclipse.modes.EclipseSpecificModeProvider">
      </mode-provider>
   </extension>
   <extension
         point="net.sourceforge.vrapper.eclipse.pstop">
      <textobject-provider
            id="net.sourceforge.vrapper.eclipse.textobject-provider"
            name="net.sourceforge.vrapper.eclipse.textobject-provider"
            provider-class="net.sourceforge.vrapper.eclipse.keymap.EclipseTextObjectProvider">
      </textobject-provider>
   </extension>

   <extension point="org.eclipse.ui.services">
      <sourceProvider provider="net.sourceforge.vrapper.eclipse.activator.VrapperStatusSourceProvider">
         <variable name="net.sourceforge.vrapper.source.status" priorityLevel="activeSite"/>
      </sourceProvider>
   </extension>

   <!-- Re-usable activation expressions. -->
   <extension point="org.eclipse.core.expressions.definitions">
       <!-- Evaluates to true when Vrapper is active, a Vrapper instance is focused and command line is open. -->
       <definition id="net.sourceforge.vrapper.expr.commandlinemode">
            <and>
               <!-- Check that we're even on an editor -->
               <with variable="activePart">
                   <instanceof value="org.eclipse.ui.IEditorPart" />
               </with>
               <!-- Technically redundant as mode of disabled vrapper would be 'insert mode' -->
               <with variable="net.sourceforge.vrapper.source.enabled">
                  <equals value="true"/>
               </with>
               <with variable="net.sourceforge.vrapper.source.currentmode">
                  <equals value="command mode"/>
               </with>
               <!-- XXX Only here to increase Vrapper's priority score. -->
               <with variable="selection">
                   <iterate ifEmpty="true" operator="or">
                       <instanceof value="java.lang.Object" />
                   </iterate>
               </with>
            </and>
       </definition>
   </extension>

   <!-- Override default HOME / END / Ctrl + Arrow / Past / ... commands in command line. -->
   <extension
       point="org.eclipse.ui.handlers">
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.text.goto.lineStart">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.text.goto.lineEnd">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.text.goto.wordNext">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.text.goto.wordPrevious">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.cut">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.copy">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
       <handler
           class="net.sourceforge.vrapper.eclipse.actions.VrapperCommandLineMotionHandler"
           commandId="org.eclipse.ui.edit.paste">
           <activeWhen>
               <reference definitionId="net.sourceforge.vrapper.expr.commandlinemode"/>
           </activeWhen>
       </handler>
   </extension>
</plugin>

