<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.vrapper.eclipse.pssp">
      <keymap-provider
            id="net.sourceforge.vrapper.plugin.splitEditor.eclipse.provider."
            name="Split Editor Commands Support"
            priority="15"
            provider-class="net.sourceforge.vrapper.plugin.splitEditor.provider.WindowCmdStateProvider">
      </keymap-provider>
   </extension>

</plugin>
