<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Vrapper Action Set"
            visible="true"
            id="vrapper.actionSet">
         <menu
               label="Vrapper Menu"
               id="vrapperMenu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="Emulate Vim"
               icon="icons/icon.png"
               class="de.jroene.vrapper.eclipse.actions.VrapperToggleAction"
               tooltip="Toggle Vim Emulation"
               menubarPath="vrapperMenu/group"
               toolbarPath="group"
               state="false"
               id="de.jroene.vrapper.eclipse.actions.VrapperToggleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
