<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.vrapper.eclipse.pstop">
      <textobject-provider
            id="net.sourceforge.vrapper.plugin.subwordtextobj.provider.SubwordTextObjectProvider"
            name="SubwordTextObject Provider"
            priority="20"
            provider-class="net.sourceforge.vrapper.plugin.subwordtextobj.provider.SubwordTextObjectProvider">
      </textobject-provider>
   </extension>
   <extension
         point="net.sourceforge.vrapper.eclipse.pssp">
      <keymap-provider
            id="net.sourceforge.vrapper.plugin.subwordtextobj.provider.SubwordProvider"
            name="Subword Motion Provider"
            priority="20"
            provider-class="net.sourceforge.vrapper.plugin.subwordtextobj.provider.SubwordProvider">
      </keymap-provider>
   </extension>
</plugin>
