<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.vrapper.eclipse.pssp">
      <keymap-provider
            id="net.sourceforge.vrapper.plugin.sneak.provider.SneakStateProvider"
            name="vim-sneak State Provider"
            priority="20"
            provider-class="net.sourceforge.vrapper.plugin.sneak.provider.SneakStateProvider">
      </keymap-provider>
   </extension>
   <extension
         point="net.sourceforge.vrapper.eclipse.psmp">
      <mode-provider
            id="net.sourceforge.vrapper.plugin.sneak.provider.SneakModeProvider"
            name="vim-sneak Mode Provider"
            provider-class="net.sourceforge.vrapper.plugin.sneak.provider.SneakModeProvider">
      </mode-provider>
   </extension>
   <extension
         point="net.sourceforge.vrapper.eclipse.lifecyclelistener">
      <lifecycle-listener
            id="net.sourceforge.vrapper.plugin.sneak.eclipse.lifecycle-listener"
            listener-class="net.sourceforge.vrapper.plugin.sneak.provider.SneakLifecycleListener">
      </lifecycle-listener>
   </extension>
</plugin>
