<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.vrapper.eclipse.pssp">
      <keymap-provider
            id="net.sourceforge.vrapper.plugin.exchange.provider.ExchangeProvider"
            name="exchange.vim State Provider"
            priority="20"
            provider-class="net.sourceforge.vrapper.plugin.exchange.provider.ExchangeProvider">
      </keymap-provider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="net.sourceforge.vrapper.eclipse.exchangeregion"
            name="net.sourceforge.vrapper.eclipse.exchangeregion">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
	  <specification
            annotationType="net.sourceforge.vrapper.eclipse.exchangeregion"
            label="Vrapper Exchange Region"
            textPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.exchange.showtext"
            textPreferenceValue="true"
            highlightPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.exchange.highlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.exchange.showoverviewruler"
            overviewRulerPreferenceValue="false"
            verticalRulerPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.exchange.showverticalruler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="net.sourceforge.vrapper.eclipse.annotation.exchange.color"
            colorPreferenceValue="30,200,230"
            presentationLayer="4"
            textStylePreferenceKey="net.sourceforge.vrapper.eclipse.annotation.exchange.textstyle"
            textStylePreferenceValue="NONE">
	  </specification>
   </extension>

</plugin>
